/* Styles for main page */

 

#banner {

  background: #9c9;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}


#banner img {
  float: left;
}


#columns {
  background: #141;
}

 

#main {

  margin-left: 13em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

 
#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 12em;
  background: #141;
}


#side a {
  color: #bfb;
  font-size: small;

}

#store .entry form, #store .entry form div {
	display: inline;
}
/*Styles for the cart in the main page*/
#store .cart_title {
	font: 120% bold;
}
#store .item_price, #store .total_line {
	text-align: right;
}
#store .total_line .total_cell {
	font-weight: bold;
	border-top: 1px solid #595;
	}
/* for the cart in then sidebar */
#cart table {
	border-top: 1px dotted #595;
	border-bottom: 1px dotted #595;
	margin-bottom: 10px;
}


